<a href="https://colab.research.google.com/github/BurhanAli232/Python_Afwera/blob/main/Lecture_04_variable_%26_Data_type_practice__problem_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1:int, float, str, bool

#### 1-Add two number

In [ ]:
# in this problem i use just integer number
a=7
b=8
c=a+b
print(c)

15

In [ ]:
# in this i take two input from user and after addtion and display the output
first_number=int(input("Enter first number?"))
second_number=int(input("Enter second number ?"))
sum=first_number+second_number
print("The sum of two number is",sum)

Enter first number?3
Enter second number ?3
The sum of two number is 6

In [ ]:
# now i take one interger and one float number
first_number=int(input("Enter first number?"))
second_number=7.99
sum=first_number+second_number
print("This is the sum of your integer and float",sum)

Enter first number?3
This is the sum of your integer and float 10.99

In [ ]:
# now i take both input as a float from user\
first_number=float(input("Enter first number"))
second_number=float(input("Enter second number"))
sum=first_number+second_number
print("The sum of two float number",sum)

Enter first number2
Enter second number2
The sum of two float number 4.0

#### 2-Multiply two number

In [ ]:
# The first step is to multiple the float number and output is 10.0
first_number=2.00
second_number=5.00
multiply=first_number*second_number
print("The multiple of two number is",multiply)

The multiple of two number is 10.0

In [ ]:
# now i want to take some random number
first_number=float(input("Enter first number"))
second_number=float(input("enter second number"))
multiply=first_number*second_number
print("This is your output of multiplication",multiply)

Enter first number4
enter second number3
This is your output of multiplication 12.0

#### 3-String concatination

In [ ]:
#first my task is to display the python Rocks
#first my task is to display the python Rocks
string_one="python"
string_two="Rocks"
concatination=string_one+" "+string_two
print(concatination)

python Rocks

In [ ]:
# now i take the string with real time input from user
string_one=input("Enter the first string ")
string_two=input("Entrt the second string ")
concatination=string_one+" "+string_two
print("Your concatination string",concatination)

Enter the first string 2
Entrt the second string 1
Your concatination string 2 1

#### 4-Convert Integer to String

In [ ]:
# first we need to display the age: 21
age=str(input("Enter your age "))
print("age:",age)

Enter your age 21
age: 21

In [ ]:
# now we take input from user as a integer
age=int(input("Enter you age"))
age2=str("age")# no need to type str
print(age2,age)

Enter you age21
age 21

In [ ]:
# i take the input name and age from user and display
name=input(str("Enter you name "))
age=int(input("Enter your age "))
print(f"You name is {name} and your age is {age}")

Enter you name Burhan
Enter your age 21
You name is Burhan and your age is 21

#### 5-Convert String to Integer

In [ ]:
input_string=str(input("Enter the string in digit? "))
print(type(input_string))
input_int=int(input_string)
print(type(input_int))
print(f"Your output is {input_int}")

Enter the string in digit? 12
<class 'str'>
<class 'int'>
Your output is 12

In [ ]:
# i take float no  and display int as a output
number=float(input("Enter any float digit "))
number_int=int(number)
print(f"You number is {number_int}")
print(type(number))
print(type(number_int))

Enter any float digit 2.2
You number is 2
<class 'float'>
<class 'int'>

#### 6-Check variable type

In [ ]:
# my task is to declare the bool variable and display the output
bool_variable=True
print(type(bool_variable))

<class 'bool'>

In [ ]:
# now i want to take the int,str,float and bool from user and print datatype
int_variable=int(input("Enter the integer variable"))
float_variable=float(input("Enter the float variable"))
bool_variable=bool(input("Enter the bool variable"))
string_variable=str(input("Enter the string variable"))
print(f"your output is {int_variable} and datatype is {type(int_variable)}")
print(f"your output is {float_variable} and datatype is {type(float_variable)}")
print(f"your output is {bool_variable} and datatype is {type(bool_variable)}")
print(f"your output is {string_variable} and datatype is {string_variable}")

Enter the integer variable21
Enter the float variable2.2
Enter the bool variable1
Enter the string variableji
your output is 21 and datatype is <class 'int'>
your output is 2.2 and datatype is <class 'float'>
your output is True and datatype is <class 'bool'>
your output is ji and datatype is ji

#### 7-Area of circle

In [ ]:
# my task is take input as a 3 and pi and find radius
area_circle=3
pi=3.1415
radius=area_circle*area_circle*pi
print(f"Your radius is {radius}")

Your radius is 28.273500000000002

In [ ]:
# Now i take the random value from user
area_circle=float(input("Enter the area of circle"))
pi=float(input("Enter the value of pi"))
radius=pi*area_circle*area_circle
print(f"you radius is {radius}")

Enter the area of circle3
Enter the value of pi3.14
you radius is 28.259999999999998

#### 8-Find the average of given number

In [ ]:
first_number=10
second_number=15
third_number=20
average=(first_number+second_number+third_number)/3
print(f"The average number is {average}")

The average number is 15.0

In [ ]:
# take random 4 number from user and check average
number1=int(input("Enter the first digit"))
number2=int(input("Enter the second digit"))
number3=int(input("Enter the third digit"))
number4=int(input("Enter the fourth digit"))
average=(number1+number2+number3+number4)/4
print(f"The average is {average}")

Enter the first digit2
Enter the second digit3
Enter the third digit4
Enter the fourth digit5
The average is 3.5

#### 9-Boolean comparison

In [ ]:
first_number=4
second_number=5
bool1=first_number<second_number
print(f"Your output is {bool1}")

Your output is True

In [ ]:
# now i take the real time input and display output
number1=int(input("Enter the first number"))
number2=int(input("Enter the second number"))
comparsion=number1<number2
print(f"Your output is {comparsion}")

Enter the first number2
Enter the second number3
Your output is True

#### 10-Great the user

In [ ]:
name_variable=str(input("Enter your name /"))
print(f"welcome {name_variable}")

Enter your name /Burhan
welcome Burhan

# Section 2:List, Tuple, Dicitionary, Sets

#### 11-create list and print

In [ ]:
# the first aim to display this output
# ['apple', 'banana', 'cherry']
fruit_list=['apple','banana','cherry']
print(fruit_list)

['apple', 'banana', 'cherry']

#### 12-Add items to list

In [ ]:
# the expected output is Output: ['apple', 'banana', 'mango']
print(fruit_list)
fruit_list.remove("cherry")
fruit_list.append("Mango")
print(fruit_list)

['apple', 'banana', 'cherry']
['apple', 'banana', 'Mango']

#### 13-Remove the items

In [ ]:
# the output is display the 1,2,4
list_digit=[1,2,3,4]
list_digit.remove(3)
print(list_digit)

[1, 2, 4]

#### 14-Access list Element

In [ ]:
# my target is to print the output 3 color name and access the second color name
color_list=['green','red','black']
print(color_list[1])

red

#### 15-Tuple Access

In [ ]:
# Create a tuple with three numbers and print the third element.
tuple_no=(1,2,3)
print(tuple_no[2])

3

#### 16-Dicitionary Access Value

In [ ]:
#Create a dictionary with a student's name and marks. Print the marks
std_dict={'Burhan':90,'Ali':80}
print(std_dict['Burhan'])

90

#### 17-update dictionary value

In [ ]:
print(std_dict)
std_dict['Burhan']=95
print(std_dict)

{'Burhan': 90, 'Ali': 80}
{'Burhan': 95, 'Ali': 80}

#### key of dicitionary

In [ ]:
#Create a dictionary and print its keys.
print(std_dict)
print(std_dict.keys())
print(std_dict.values())

{'Burhan': 95, 'Ali': 80}
dict_keys(['Burhan', 'Ali'])
dict_values([95, 80])

#### 20-Remove dublicate using set

In [ ]:
#Create a set from a list with duplicate numbers and print it
set_list={1,2,3,4,3,2,1,5,6,3,7,8,9,0,3,8,9,5}
print(set_list)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Add to set

In [ ]:
print(set_list)
set_list.add(10)
print(set_list)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Section 3:Inputs and Types casting

In [ ]:
def fun():
  print("Hello,Ali")
fun()

Hello,Ali

In [ ]:
def say_hello(name):
    print("Hello,", name)

In [ ]:
say_hello('Burhan')

Hello, Burhan

In [ ]:
import os

# File to store the tasks
FILE_NAME = "todo_list.txt"

# Function to read tasks from a file
def load_tasks():
    tasks = []
    if os.path.exists(FILE_NAME):
        try:
            with open(FILE_NAME, 'r') as file:
                lines = file.readlines()
                for line in lines:
                    task, status = line.strip().split('|')
                    tasks.append({'task': task, 'status': status})
        except Exception as e:
            print(f"Error loading tasks: {e}")
    return tasks

# Function to save tasks to the file
def save_tasks(tasks):
    try:
        with open(FILE_NAME, 'w') as file:
            for task in tasks:
                file.write(f"{task['task']}|{task['status']}\n")
    except Exception as e:
        print(f"Error saving tasks: {e}")

# Function to add a task
def add_task(tasks, task):
    tasks.append({'task': task, 'status': 'Not Done'})

# Function to display the tasks
def display_tasks(tasks):
    if not tasks:
        print("Your to-do list is empty!")
    else:
        print("\n--- To-Do List ---")
        for index, task in enumerate(tasks, 1):
            status = task['status']
            print(f"{index}. {task['task']} [{status}]")

# Function to mark a task as done
def mark_task_done(tasks, task_index):
    try:
        tasks[task_index - 1]['status'] = 'Done'
        print(f"Task '{tasks[task_index - 1]['task']}' marked as Done.")
    except IndexError:
        print("Invalid task index. Please try again.")

# Function to remove a task
def remove_task(tasks, task_index):
    try:
        task = tasks.pop(task_index - 1)
        print(f"Task '{task['task']}' removed.")
    except IndexError:
        print("Invalid task index. Please try again.")

# Main menu of the app
def main():
    tasks = load_tasks()

    while True:
        print("\n--- To-Do List App ---")
        print("1. Display tasks")
        print("2. Add a task")
        print("3. Mark task as done")
        print("4. Remove a task")
        print("5. Exit")

        choice = input("Choose an option: ")

        if choice == '1':
            display_tasks(tasks)

        elif choice == '2':
            task = input("Enter the task: ")
            if task.strip():
                add_task(tasks, task)
                save_tasks(tasks)
            else:
                print("Invalid input! Task cannot be empty.")

        elif choice == '3':
            try:
                task_index = int(input("Enter the task number to mark as done: "))
                mark_task_done(tasks, task_index)
                save_tasks(tasks)
            except ValueError:
                print("Invalid input! Please enter a number.")

        elif choice == '4':
            try:
                task_index = int(input("Enter the task number to remove: "))
                remove_task(tasks, task_index)
                save_tasks(tasks)
            except ValueError:
                print("Invalid input! Please enter a number.")

        elif choice == '5':
            print("Exiting the app...")
            break

        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

--- To-Do List App ---
1. Display tasks
2. Add a task
3. Mark task as done
4. Remove a task
5. Exit
Choose an option: 4
Enter the task number to remove: 5
Invalid task index. Please try again.

--- To-Do List App ---
1. Display tasks
2. Add a task
3. Mark task as done
4. Remove a task
5. Exit

KeyboardInterrupt: Interrupted by user