# Python_Strings
- Here all python string function avaibile

## 1-Capitalize()
- This Capitaalize() method returns a string where the first character is upper case,and the rest is lower case
- The syntax is:string.capitalize()

In [ ]:
# Example of capitalize()
string1="hello, welcome to python in Artificial Intelligence today i'll explain the python string"
print(string1.capitalize())

Hello, welcome to python in artificial intelligence today i'll explain the python string

In [ ]:
# another way
string1="hello"
a=string1
print(a.capitalize())

Hello

In [ ]:
# another example
string1="hello"
print(string1.capitalize())
string2="36 is my age"
print(string2.capitalize())

Hello
36 is my age

# 2-Casefold()
- The casefold() method returns a string where  all the characters are lower case
- This method similar to lower() method but the casefold() method is stronger more aggressive meanings that it will convert more character into lower case and will find more matches when comparing two strings and both are converted using the casefold() method
- The basic syntas:casefold()

In [ ]:
string1="WELCOME TO PYTHON IN ARTIFICIAL INTELLIGENCE"
print(string1.casefold())

welcome to python in artificial intelligence

# 3-Center()
- The center() method will center align the string using a specified charcter(space is defult) as the fill character.
- The basic syntax is:string.center(Length,Character)

In [ ]:
string1="Python"
print(string1.center(20))

       Python

In [ ]:
# Another example where pass the parameter
string1=" python "
print(string1.center(12,"a"))

aa python aa

# 4-Count()
- The count() method returns the number of times a specified value appears in the string
- THe syntax is:string.count(value,start,end)

In [ ]:
string1="I love Pakistan,Pakistan is my country,Pakistan is my motherland Pakistan"
print(string1.count("Pakistan"))

4

- **Value**:Requried | a string | the string to value to search for
- **start**:Optional | An interger | The position to star the search | Defult is 0
- **end**:Optional | An integer | The posotion to end the search | Defult is the end of the string

In [ ]:
#here check the the i character first 50 charcter
print(string1.count("i",0,50))

5

# 5-ecode()
- The encode() method encode the string using the specified encoding if no encoding is specified,UTF-8 will be used
-The syntax:string:encode(encode=encoding,erros=errors)
- **encoding**:Optional | a string specifying the encode to use | Defult is UTF-8
- **errors**:Optional | A string specifying the error method | legal value are:
    - **'backslashreplace'**:uses a backlash instead of the character that could not be encoded
    - **'ignore'**:ignores the characters that cannot be encoded
    - **'namereplace'**:replace the character with a text explaining the character
    - **'strict'**:replace the character with a questionmark
    - **'xmlcharrefreplace'**:replace the character with an xml character

In [ ]:
# example
string1="Welcome to python with Artificial intelligence  St√•le"
print(string1.encode(encoding="ascii",errors="backslashreplace"))

b'Welcome to python with Artificial intelligence  St\\xe5le'

In [ ]:
#try with all error type or function
print(string1.encode(encoding="ascii",errors="ignore"))

b'Welcome to python with Artificial intelligence  Stle'

In [ ]:
print(string1.encode(encoding="ascii",errors="namereplace"))

b'Welcome to python with Artificial intelligence  St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'

In [ ]:
print(string1.encode(encoding="ascii",errors="replace"))

b'Welcome to python with Artificial intelligence  St?le'

In [ ]:
print(string1.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'Welcome to python with Artificial intelligence  St&#229;le'

# 6-endswith()
- The endswith() method returns True if the string ends with the specified value,otherwise False.
- The syntax is:string.endswith(value,start,end)
- **value**:Required | The value to chech if the string ends with.The value parameter can also be a tuple then the method returns true if the string end with any tuple value
- **start**:Optional | an integer specifying at which position to start the search
- **end**:Optional | an integer specifying at which position to end the search

In [ ]:
string1="welcome to python with artificial intelligence."
print(string1.endswith("."))

True

In [ ]:
string1="welcome to python with artificial intelligence"
print(string1.endswith("."))

False

In [ ]:
string1="welcome to python with artificial intelligence"
print(string1.endswith("intelligence",5,50))

True

In [ ]:
string1="welcome to python with artificial intelligence."
print(string1.endswith(("welcome.","intelligence.")))

True

In [ ]:
txt = "Hello, welcome to my castle."

x = txt.endswith(("world.", "castle."))

print(x)

True

# 7-expandtabs()
- The expandtabs() method sets the tab size to the specified number of whitespace
- the syntax is:string.expandtabs(tabsize)
- **tabsize**:Optional | a number specifying the tabsize | defult is 8

In [ ]:
string1="welcome\tto\tpython\twith\tartificial\tintelligence"
print(string1.expandtabs(1))

welcome to python with artificial intelligence

In [ ]:
print(string1)
print("2")
print(string1.expandtabs(1))
print("3")
print(string1.expandtabs(2))
print("4")
print(string1.expandtabs(4))
print("5")
print(string1.expandtabs(8))

welcome	to	python	with	artificial	intelligence
2
welcome to python with artificial intelligence
3
welcome to  python  with  artificial  intelligence
4
welcome to  python  with    artificial  intelligence
5
welcome to      python  with    artificial      intelligence

# 8-find()
- The find() method finds the first occurrence of the specifird value
- The find() method return -1 if the value is not found
- The find() method is almost the same as the index() method the only difference is that the index() method raises an exception if the value is not found
- **value**: Requried | The value to search for
- **Start**: Optional | where to start the search | Default is 0
- **end**: Optional | where to end the search | Default is at the end of string

In [ ]:
string1="Welcome to Python in AI"
print(string1.find("AI"))

21

In [ ]:
string1="welcome to python in AI"
print(string1.find("e",5,10))

6

In [ ]:
string1="welcome to python in AI"
print(string1)
print(string1.find("in"))
print(string1.index("in"))

welcome to python in AI
18
18

# 10-format()
- The format() method formates the specified value(s) and insert them inside the string placeholder
- The placeholder is defined using the curly bracket{}
- The format() method returns the formatted string
The basic syntax:string.formate(value1,value2...)
  - **value1,value2...*: requried | one or more value that should be formatted and inserted in the string
  - The value are either a list of value separated by commas,key=value or a combination of both
  - The values can be of any data type

In [ ]:
string1="only for you in {price} pkr"
print(string1.format(price=39.99))

only for you in 39.99 pkr

In [ ]:
# now string1 = s1
s1="my age is{age},and my {name}".format(age=21,name="Burhan")
s1

'my age is21,and my Burhan'

### Now i'll discuss the formate type
- Incide the placeholders you can add a formatting type to formate the result

-
  - 1 :<
  - Left aligns the result(within the available space)

In [ ]:
s1="my name is {:<8} from Pakistan"
print(s1.format("Burhan"))

my name is Burhan   from Pakistan

In [ ]:
s1 = "We have {:<15} friend."
print(s1.format("Burhan"))

We have Burhan          friend.

In [ ]:
# now i try with minimum
s1="my name is {:<5} from Pakistan"
print(s1.format("Burhan")) # its not work beacuse 5 is already less than the string


# check now i change the string size then it's worked
print(s1.format("Ali"))# here you can see its work

my name is Burhan from Pakistan
my name is Ali   from Pakistan

-
  - 2 :>
  - Right aligns the result(within the available space)

In [ ]:
# add the string length in which i give the value .ex=8 so 6 digit use Burhan and 2 for reserve space
# its same with privious
s1="my name is {:>8} from Pakistan"
print(s1.format("Burhan"))

# now try with minimum
s1="my name is {:>5} from Pakistan"
print(s1.format("Burhan"))

# now worked
print(s1.format("Ali"))

my name is   Burhan from Pakistan
my name is Burhan from Pakistan
my name is   Ali from Pakistan

-
  - 3 :^
  - center aligns the result(within the available space)

In [ ]:
# now we use for center
s1="my name is {:^8} from Pakistan"
print(s1.format("Burhan")) # here 6 digit for string 1 space add in left side and 1 add right side

s1="my name is {:^7} from Pakistan"
print(s1.format("Burhan"))  #Here 6 digit for string and 1 space add one side and second side not add any space

my name is  Burhan  from Pakistan
my name is Burhan  from Pakistan

-
  - 4 :=
  - Place the sign to the left most position

In [ ]:
s1="my age is {:=5} ."
print(s1.format(21)) #here 2 digit use for string and 3 use for space

my age is    21 .

-
  - 5 :+
  - Use a plus sign to indicate if the result is positive or negitive

In [ ]:
s1="Today the temprature between {:+} to {:+} degree in Pakistan"
print(s1.format(-1,7))

Today the temprature between -1 to +7 degree in Pakistan

-
  - 6 :-
  - use for minus sign for negative value

In [ ]:
s1="Today temprature {:-} in Pakistan"
print(s1.format(-1))

Today temprature -1 in Pakistan

-
  - 7 :
  - Use a space to insert an extra space before positive number(and a minus sign before negative number)

In [ ]:
s1="today temprature is {: } to {: } in Pakistan"
print(s1.format(-2,5)) # here you see just increse the space for plus value note nagitive value

today temprature is -2 to  5 in Pakistan

In [ ]:
s1="Today the temprature is {} to {} in Pakistan"
print(s1.format(-1,7)) # it's work by this way but when i increase the space in bracket display the error

Today the temprature is -1 to 7 in Pakistan

In [ ]:
s1="Today temprature is {:>3} to {:>3} in Pakistan"
print(s1.format(-1,7)) # Or u can choose by this way

Today temprature is  -1 to   7 in Pakistan

-
  - 8 :,
  - Use a comma as a thousand separator

In [ ]:
s1="the GDP of Pakistan is {:,}"
print(s1.format(900000000000))

the GDP of Pakistan is 900,000,000,000

-
  - 9 :_
  - Use a Underscore as a thousand separator

In [ ]:
s1="The GDP of Pakistan is {:_}"
print(s1.format(900900000))

The GDP of Pakistan is 900_900_000

-
  - 10 :b
  - Binary formate

In [ ]:
# use to write a binary form
s1="The binary value of {0} is {0:b}"
print(s1.format(10))

The binary value of 10 is 1010

-
  - 11 :c
  - Convert the value into the crossponding unicode charcter

In [ ]:
char_code = 65
txt = "The character for Unicode code {} is {:c}."
print(txt.format(char_code, char_code))

The character for Unicode code 65 is A.

In [ ]:
c_code=67
s1="The charcter forunicode {} is {:c}"
print(s1.format(c_code,c_code))

The charcter forunicode 67 is C

-
  - 12 :d
  - Decimal formate

In [ ]:
s1="We have the {:d} candy"
print(s1.format(0b1010))

We have the 10 candy

-
  - 13 :e
  - Scientific formate with a lower case e

In [ ]:
s1="The number is scientific formate{:.2e}".format(3.14115)
s1

'The number is scientific formate3.14e+00'

-
  - 14 :E
  - Scientific formate with a Upper case e

In [ ]:
s1="The is scientific formate {:.3E}".format(314156.15143)
s1

'The is scientific formate 3.142E+05'

-
  - 15 :f
  - Fix point number format

In [ ]:
s1="The price is {:f}".format(45)
print(s1)
s2="The price is {:.3f}".format(50)
s2

The price is 45.000000

'The price is 50.000'

-
  - 16 :E
  - Fix pointnumber formate, in uppercase formate( shoe inf and nan as INF and NAN)

In [ ]:
s1="The price is {x:F}".format(x=float('inf'))
print(s1)
s2="The price is {x:f}".format(x=float('inf'))
print(s2)
s3="The price is {x:f}".format(x=float('nan'))
print(s3)
s4="The price is {x:F}".format(x=float('nan'))
print(s4)

The price is INF
The price is inf
The price is nan
The price is NAN

-
  - 17 :g
  - Genral format

In [ ]:
number = 1234.5678
s1 = "The number in general format is {:g}."
print(s1.format(number))

s1 = "The number in general format is {:.2g}."
print(s1.format(number))

The number in general format is 1234.57.
The number in general format is 1.2e+03.

-
  - 18 :G
  - Genral format(Using a upper case E for scientific notations)

In [ ]:
# same but here just scientific notation incapital
number = 1234.5678
s1 = "The number in general format is {:G}."
print(s1.format(number))

s2 = "The number in general format is {:.2G}."
print(s2.format(number))

The number in general format is 1234.57.
The number in general format is 1.2E+03.

-
  - 19 :o
  - octal format

In [ ]:
s1="The octal value of {0} is {0:o}".format(20)
s1

'The octal value of 20 is 24'

-
  - 20 :x
  - Hex format,lower case

In [ ]:
s1="The hex value of {0} is {0:x}".format(250)
s1

'The hex value of 250 is fa'

-
  - 21 :X
  - Hex formate ,Upper case

In [ ]:
# here just show the capital hex digit
s1="The hax value of {0} is {0:X}".format(255)
s1

'The hax value of 255 is FF'

-
  - 22 :n
  - number format

In [ ]:
s1="The number format is {:n}".format(1008.00)
s1

'The number format is 1008'

-
  - 23 :%
  - persentage format

In [ ]:
s1="The persentage is {:%}".format(0.34)
print(s1)
s2="The persentage is {:.0%}".format(0.06)
s2

The persentage is 34.000000%

'The persentage is 6%'

# 11-format_map()
- The format_map() is use to split or detect the value from dictionary or any other mapping object
- the syntax is:string.format_map(mapping)
  - **mapping**:It use to implement the mapping project

In [ ]:
dict1={"name":"Burhan","age":21}
s1="My name is {name} and my age is {age}".format_map(dict1)
s1

'My name is Burhan and my age is 21'

# 12-index()
- The index() method finds the first occurrence of the specified value
- The index() method raises an exception if the value is not found
- The index() method is almost the same as the find() method the only difference is that the find() method returns -1 if the the value is not found
- The syntax is :string.index(value,start,end)
  - **value**: Requried | The value to search for
  - **start**: Optional | where to start search | Defualt is 0
  - **end**  : optional | where to end the search | defualt value where string end

In [ ]:
s1="Welcome to python in AI"
print(s1.index("Welcome"))

0

In [ ]:
print(s1.index("e",1,10))

1

In [ ]:
s1 = "Hello, welcome to my world."

print(s1.find("q")) # if value not found find() return -1
print(s1.index("q")) # if not found return error

-1

ValueError: substring not found

# 13-isalnum()
- The isalnum() method return True if all the charcter are alphaNumeric
- the Syntax is:string.isalnum()

In [ ]:
s1="WelcomeToPythonInAI1".isalnum()
print(s1)
s2="Welcome To Python In AI".isalnum()
print(s2)

True
False

# 14-isalpha()
- The isalpha() method returns True if all the characters are alphabet letters
- The syntax:isalpha()

In [ ]:
s1="welcometopythoninAI".isalpha()
print(s1)
s2="welcometopythoninAI1".isalpha()
print(s2)

True
False

# 15-isascii()
- The asascii() method returns True if all the characters are ascii character
- The syntax:string.isascii()

In [ ]:
s1="welcome to the AI 123".isascii()
print(s1)
s2="123 üòä".isascii()
print(s2)

True
False

# 16-isdecimal()
- The isdecimal() method return True if all character are decimal (0-9)
- The method can also be used on unicode object

In [ ]:
s1="12345".isdecimal()
print(s1)
s2="123.45".isdecimal()
print(s2)

True
False

In [ ]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

# 17-isdigit()
- The isdigit() method returns True if all the character are digits otherwise False
- Exponents like 2, are also considered to be a digit
- The syntax:string.indigit()

In [ ]:
s1="5090000"
print(s1.isdigit())
s2="5090000."
print(s2.isdigit())

True
False

In [ ]:
a="\u0030"
b="\u00B2"
print(a.isdigit())
print(b.isdigit())

True
True

# 18-isidentifier()
- The isidentifier() method returns True if the string is a valid identifier otherwise False
- A string is considered a valid identifier if it only contains alphanumeric letters(a-z) and (0-9) or underscore (_) A vaild identifier cannot start with a number or contain any spaces.
- The syntax:string.isidentifier()

In [ ]:
s1="Burhan "
print(s1.isidentifier())

False

In [ ]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

# 19-islower() method returns True if all the characters are in lower case othweise False
- Number,symbols and space are not checked only alphabet character
- The syantx is:string.islower()

In [ ]:
s1="Welcome to Ai".islower()
print(s1)
s2="WELCOME TO AI".islower()
print(s2)
s3="WELCOMETOAI".islower()
print(s3)
s4="welcome to ai".islower()
print(s4)

False
False
False
True

# 20-isnumeric()
- The isnumeric() method return True if all the character are numeric(0-9),otherwise False
- Exponents like power and over form are also considered to be numeric value
- **-1** and **1.5** ane NOT condidered numeric value, beacuse all the character in the string must be numeric and the - and the . are not
- The syntax is : string.isnumeric()

In [ ]:
s1="12345".isnumeric()
print(s1)
s2="1.2344".isnumeric()
print(s2)
s3="12^2".isnumeric()# if i write in power then it consider
print(s3)
s4="3/4".isnumeric()# if i write in power then it consider
print(s4)

True
False
False
False

# 21-isprintable()
- The isprintable() method returns True if all the characters are printable,otherwise False
- Example of none printable character can be carriage return and line feed
- The syntax is : string.isprintable()

In [ ]:
s1="welcome to AI".isprintable()
print(s1)
s2="welcome!\to!\AI".isprintable()
print(s2)
s3="Welcome to Ai #1".isprintable()
print(s3)

True
False
True

# 22-isspace()
- The isspace() method returns True if all the characters in a string are whitespace,otherwise False
- The syntax is : string.isspace()

In [ ]:
s1="                         "
print(s1.isspace())
s2="weclome             to  AI".isspace()
print(s2)

True
False

# 23-istitle()
- The istitle() method returns True if all words in a text start with a upper case letter, And the rest of the word are lower case letters otherwise False
- Symbols and numbers are ignored.
- The syntax is : string.istitle()

In [ ]:
s1="welcome to python with AI!"
print(s1.istitle())
s2="Welcome to python".istitle()
print(s2)
s3="Welcome To Python123".istitle()
print(s3)

False
False
True

# 24-isupper()
- The isupper() method returns True if all the character are in Upper case,otherwise False
- Number,symbols and spaces are not checked only alphabet characters
- The syntax is: string.isupper()

In [ ]:
s1="WELCOME".isupper()
print(s1)
s2="welcome".isupper()
print(s2)
s3="Welcome".isupper()
print(s3)
s4="WELCOME TO PYTHON".isupper()
print(s4)

True
False
False
True

# 25-join()
- The join() method takes all items in an iterable and joins them into one string
- A string must be specified as the separator
- The syntax is: string.join(iterable)
  - **iterable**: Requried | Any iterable object where all the returned value are strings

In [ ]:
s1="Welcome".join(("burhan","Ali","Umar")) # declare tuple
print(s1)
s2="Welcome".join({"name":"Burhan","name2":"Umar"})# declare dictionary
print(s2)
s3="#".join(["Burhan","umar"]) # declare list
print(s3)

burhanWelcomeAliWelcomeUmar
nameWelcomename2
Burhan#umar

# 26-ljust
- The ljust() method will left align the string,using a specified character(space is defult) as the fill character
- The syntax:string.ljust(length,character)
  - **length**: Requried | The length of the returned string
  - **character**: Optional | A character to fill the missing space (to the right of the string) | defualt is " "(space)

In [ ]:
s1="Burhan".ljust(20)
print(s1)
s2="Welcome to ".ljust(14,"B")
print(s2)

Burhan
Welcome to BBB

# 27-lower()
- The lower() method returns a string where all character are lower case
- Symbols and Number are ignored
- The syntax is : string.lower()

In [ ]:
s1="Welcome TO AI".lower()
print(s1)
s2="WELCOME TO AI".lower()
print(s2)

welcome to ai
welcome to ai

# 28-lstrip()
- The lstrip() method remove any leading character(space is the defualt leading character to remove)
- The syntax is:string.lstrip()
  - **character**: Optional | A set of character to remove as leading characters

In [ ]:
s1="Burhan".lstrip()
print("Welcome",s1,"to AI") # simple call the string

Welcome Burhan to AI

In [ ]:
# for character use
s1=",,,Burhan....Umar".lstrip(",.Ali")
print("Welcome",s1)

Welcome Burhan....Umar

In [ ]:
# for character use
s1=",,,Burhan....Umar".lstrip(",.Burhan")
print("Welcome",s1)

Welcome Umar

# 29-maketrans()
- The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters
- The syntax is : string.maketrans(x,y,z)
  - **x**: Requried | If only one parameter is specified this has to be a dicitionary describing how to preform the replace.If two or more parameters are specified this parameter has to be a string specifying the characters you want to replace
  - **y**: Optional | A string with the same length as parameter x.Each character in the first parameter will be replaced with the corresponding character in this string
  - **z**: Optional | A string describing which character to remove from the orignal string

In [ ]:
s1="Hello Nurhan".translate(str.maketrans("Nurhan","Burhan"))
print(s1)

Hello Burhan

In [ ]:
# here again same function with simple
s1="Hello Nurhan" # declare string
s2=str.maketrans("Nurhan","Burhan") # here call the maketrans function also assign parameter
print(s1.translate(s2))# here call translate function also call the s1,s2

Hello Burhan

In [ ]:
# Create a translation table
trans_table = str.maketrans("abc", "xyz")

# Apply the translation table
result = "apple banana cherry".translate(trans_table)
print(result)

xpple yxnxnx zherry

In [ ]:
s1="Hi Burhan"
x="umar"
s3={char:None for char in x} # create single word dictionary
s2=str.maketrans(s3)
print(s1.translate(s2))

Hi Bhn

In [ ]:
s1="Hi Burhan"

s3={char:None for char in "Umar"} # create single word dictionary
s2=str.maketrans(s3)
print(s1.translate(s2))

Hi Buhn

In [ ]:
s1="Hi Burhan"
x="AliUma"
y="Burhan" # if x and y have different length display error
s2=str.maketrans(x,y)
print(s1.translate(s2))

Hr Burhnn

In [ ]:
s1="Hi BUrhan"
x="Burhan"
y="Umar12"
z="Ehsan1"
s2=str.maketrans(x,y,z)
print(s1.translate(s2))

Hi UUa

# 30-Partition()
- The partition() method searches for a specified string and splits the string into a tuple containing three element.
- The first element contains thepart before the specified string
- The second element contains bthe specified string
- The third element contains the part after the string
- The syntax is:string.partition(value)
  - **value**: Requried | The string to search for

In [ ]:
s1="Welcome to python with AI"
print(s1.partition("to"))

('Welcome ', 'to', ' python with AI')

# 31-replace()
- The replace() method replace() a specified phrase with another specified pharse
- The syntax is:string.replace(old value,new value,count)
  - **oldvalue**: Requried | The string to search for
  - **newvalue**: Requried | The string to replace the old value with
  - **count**: Optional | A number specifying how many occurrences of the old value you want to replace | Defualt is all occurrence

In [ ]:
s1="I love python"
print(s1.replace("python","AI"))

I love AI

In [ ]:
s1="one AI AI AI AI love Ai"
print(s1.replace("AI","python",2))

one python python AI AI love Ai

# 32-rfind()
- The rfind() method finds the last occurrence of thr specofied value
- The rfind() method returns -1 if the value is not found
- The rfind() method is almost the same as the rindex() method
- The syntax is : string.rfind(value,start,end)
  - **value**: Requried | The value to search for
  - **start**: Optional | Where to start the search | defualt is 0
  - **end** : optional | where to end the search | Defualt is to be the end of the string

In [ ]:
s1="Welcome to Pakistan"
print(s1.rfind("e"))

6

In [ ]:
s1="welcome to Pakistan"
print(s1.rfind("e",1,10))
s2="Welcome to Pakistan"
print(s2.rfind("a"))
print(s2.rindex("a"))
print(s1.rfind("z")) # if not any value display -1

6
17
17
-1

# 33-rindex()
- The rindex() method finds the last iccurrence of the dpecified value
- The rindex() method raise an exception if the value is not found
- The rindex() method is almost the same as the rfind() method
- The syntax is: string.rindex(value,start,end)

In [ ]:
s1="Welcome to pakistan"
print(s1.rindex("a"))
print(s1.rfind("a"))

17
17

# 34-rjust()
- The rjust() method will right align the string using a specified character(space is defualt) as the fill character
- The syntax is:string.rjust(length,character)
  - **length**: Requried | The length of the returned string
  - **Character**: | Optional | A character to fill the missing space (to the left of the string) Defualt is " " (space)

In [ ]:
s1="Burhan".rjust(6)
print("Welcome to",s1)

Welcome to Burhan

In [ ]:
s1="Burhan".rjust(7,"a")
print("welcome to",s1)

welcome to aBurhan

# 35-rpartition()
- The rpartition() method searches for last occurrence of a specified string, and splits the string into a tuple containg three element
- The first element contains the part before the specified string
- The second element containd the specified string
- The third element contained the part after the string
- The basic syntax is:string.rpatition(value)

In [ ]:
s1="Welcome yo python with Artificial intelligence".rpartition("with")
print(s1)

('Welcome yo python ', 'with', ' Artificial intelligence')

# 36-rsplit()
- The split() method split a string into a list, starting from the right
- If no "max" is specified the method will return the same as the split()
- The syntax is:string.rplit(separator,maxsplit)
  - **separator**: Optional | Specifies the separator to use when splitting the string By defual any whitespace is a separator
  - **Maxsplit**: Optional | Specifies how many split to do Defalt value is -1 which is "all occerrance"
  - **NOTE** : when maxsplit is specified the list will contain the specified number of element plus one

In [ ]:
s1="Welcome to python with AI & Burhan".rsplit()
print(s1)
s2="welcome,to,python,with,AI,&,Burhan".rsplit(",")
print(s2)
s3="welcome,to,Python,with,AI,&,Burhan".rsplit(",",3)
print(s3)

['Welcome', 'to', 'python', 'with', 'AI', '&', 'Burhan']
['welcome', 'to', 'python', 'with', 'AI', '&', 'Burhan']
['welcome,to,Python,with', 'AI', '&', 'Burhan']

# 37-rstrip()
- The rstrip() method remove any tralling character (character at the end a string) space is the defualt trailling character to remove
- The syntax is: string.rstrip(character)
  - **Character**: Optional | A set of character to remove as tralling characterts

In [ ]:
s1="Burhan            is               Here".rstrip()
print("our",s1,"Student")

our Burhan            is               Here Student

In [ ]:
s1 = "banana,,,,,ssqqqww....."

x = s1.rstrip(",.qsw")

print(x)

banana

# 38-split()
- The split() method splits() a string into a list
- You can specify the separator defualt separator is any whitespace
- The syntax is:string.split(separator ,maxsplit)
  - **Separator**: Optionl | Sepecifies the separator to use when splitting the string By defualt any whitespace is a separator
  - **Maxsplit**: Optional | Specifies how many split to do Defualt value is -1 which os " all occerrance"

In [ ]:
s1="Welcome to Pakistan".split()
print(s1)
s2="Hello, my name is Burhan,from Sahiwal Pakistan".split("<")
print(s2)
s3="HELLO#BURHAN".split("#")
print(s3)

['Welcome', 'to', 'Pakistan']
['Hello, my name is Burhan,from Sahiwal Pakistan']
['HELLO', 'BURHAN']

# 39-splitlines()
- The splitline() method split into a split The splitting is done at line breaks
- The syntax is : string.splitlines(keeplinebreaks)
  **keeplinebreak**: Optional | Specifies if the line breaks should be include (True) or not (False) Defualt is False

In [ ]:
s1="Thank you for coming\nWelcome To python".splitlines()
print(s1)
s2="Thank you for visit\nGoodbye".splitlines(True)
print(s2)

['Thank you for coming', 'Welcome To python']
['Thank you for visit\n', 'Goodbye']

# 40-startswith()
- The startswith() method returns True if the string start eith specified valu otherwise False
- The syntax:string.starstwith(value,start,end)
  - **value**: Requried | The value to check if the string start with.This value parameter can alsoi be a tuple then the method returen true if the string start with any of the tuple value
  - **start** Optional | An integer sopecified at which position to star tthe

1.   List item
2.   List item

search
  - **end** Optional | An integer specifed at which positioon to end the search

In [ ]:
s1="Welcome Burhan".startswith("Burhan")
print(s1)
s2="Hello Burhan".startswith("Hello")
print(s2)

False
True

In [ ]:
s1="Welcome Burhan".startswith("Burhan",7,14)
print(s1)
s2="Hello Burhan".startswith(("Hello","Hi"),0,15) # here chech either start Hello or Hi
print(s2)

False
True

# 41-strip()
- The strip() method removes any leading and trailing whitespace
- Leading means at the begginng of the string trailling means at the end
- You can specify which character(s) to remove if not any whitespace will be removed
- The syntax is:string.strip(characters)

In [ ]:
s1="  Burhan    ".strip()
print("Welcome",s1,"to AI")

Welcome Burhan to AI

In [ ]:
s1 = ",,,,,rrttgg.....banana....rrr"

print(s1.strip(",.grt"))

banana

# 42-swapcase()
- The swapcase() method returns a string where all the upper case letter are lower case and vice versa
- The syntax is:string.swapcase()

In [ ]:
s1="Welcome to AI"
print(s1.swapcase())
s2="WELCOME TO AI"
print(s2.swapcase())

wELCOME TO ai
welcome to ai

#43-title()
- The title() method returns a string where the first character in every word is upper case like a header or a title
- If the word contains a number or a symbol the first letter after that will be converted to upper case
- The syntax:string.title()

In [ ]:
s1="burhan welcome".title()
print(s1)

Burhan Welcome

# 44-translate()
- The translate() method returns a string where some specified characters are replace with the character decribe in a dicitionary or ina amapping table
- Use the maketrans() method to create a mapping table
- If a character is not specified in the dicitionary/table , the character will not be replaced
- If you user a dicitionary you must use ascii code instead of character
- The syntax is:string.translate(table)
  - **table**: Requried | Either dicitionary or a mapping table describing how to preform the replace

In [ ]:
s1={83:80}
s2="Hello BUrhan".translate(s1)
print(s2)

Hello BUrhan

In [ ]:
s1 = "Hi Burhan!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(s1.translate(mytable))

Hi Burhon!

# 46-Upper()
- The upper() method returns a dtring where all character are in upper case Symbol and number are ignored
- The syntax is:string.upper()

In [ ]:
s1="hello burhan #$12".upper()
print(s1)

HELLO BURHAN #$12

#47-zfill()
The method zfill() method adds zeros (0) at the begging of the string until it reaches the specified length
- if the value of the len parameter is less than the length of the string no filll id done

In [ ]:
s1="60".zfill(5)
print(s1)

00060

In [ ]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000